[service]
port = 8080
geminiApiKey = "your-gemini-api-key-here"
n8nWebhookURL = "https://n8n.zenitoficial.com.br/webhook-test/gemini"

[database]
mongoURI = "mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=Metabee"
dbName = "metabee_db"

[jwt]
jwtsecret = "your-jwt-secret-here"
